@font-face {
  font-family: "FuturaPT-Light";
  src: url("./assets/fonts/FuturaPT-Light.ttf");
}

html {
  width: 1920px;
  margin: 0 auto;
  scroll-behavior: smooth;
  font-family: "Lexend", sans-serif;
  font-size: 10px;
  color: #fff;
}

body {
  background: #110a1d;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  padding: 1.6rem 14rem 0 14rem;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  border-radius: 6.4rem;
  border: 0.4rem solid #478bf9;
  padding: 2.4rem 4.8rem;
}

.logoWrapper {
  width: 28.7rem;
  height: 3.2rem;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  width: 58.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}

li > a {
  position: relative;
}

li > a:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 0.1rem;
  background-color: #fff;
  content: "";
  transition: width 0.3s ease-out;
}

li > a:hover:after,
li > a:focus:after {
  width: 100%;
}

.btnsWrapper {
  display: flex;
  justify-content: space-between;
  width: 28.7rem;
  user-select: none;
}

.lang {
  display: flex;
  padding: 1.4rem;
  border-radius: 24rem;
  border: 0.2rem solid #9dadf2;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 7.5rem;
}

.langEn,
.langRu {
  display: flex;
  align-items: center;
  margin-right: 3rem;
  cursor: pointer;
  transition: all 500ms ease;
}

.langEn *:first-child,
.langRu *:first-child {
  margin-right: 0.8rem;
}

.logIn,
.singUp {
  padding: 1.4rem;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logIn {
  border: 0.2rem solid #9dadf2;
}

.singUp {
  background: #478bf9;
}

.active {
  margin-left: -60px;
}

/* main */

main {
  position: relative;
  height: 1048px;
  overflow: hidden;
}

.layers {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: -10;
}

.layerRight {
  width: 22.6458rem;
  height: 130.2469rem;
  transform: rotate(-54.311deg);
  background: linear-gradient(180deg, #478bf9 0%, rgba(71, 139, 249, 0.4) 100%);
  opacity: 0.55;
  filter: blur(150px);
}

.layerLeft {
  width: 57.4rem;
  height: 57.4rem;
  border-radius: 574px;
  opacity: 0.7;
  background: linear-gradient(256deg, #478bf9 0%, #9dadf2 100%);
  filter: blur(325px);
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-15.4rem * 8));
  }
}

.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 10.0368rem;
  height: 129.822rem;
  user-select: none;
}
.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  position: absolute;
  width: 20rem;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  flex-direction: column;
  width: calc(25rem * 16);
}

.sliderReverse,
.slideReverse > img {
  transform: rotate(180deg);
  user-select: none;
}

.slider .slide {
  margin-top: 2.3rem;
  user-select: none;
}

.slidersWrapper {
  display: flex;
  width: 34.998rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 130px;
  right: 0;
  user-select: none;
}

.mainWrapper {
  padding: 14rem 13.3rem 23rem 14.7rem;
  display: flex;
  justify-content: space-between;
}

.mainTitle {
  width: 669px;
  padding-top: 15.6rem;
  z-index: 1;
}

.mainTitle h1 {
  font-size: 9.6rem;
  font-weight: 500;
  line-height: 9.6rem;
  margin-bottom: 2.4rem;
}

.mainTitle h1 > span {
  color: #478bf9;
}

.mainTitle h3 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 3.2rem;
  margin-bottom: 4.8rem;
}

.mainTitle button {
  border-radius: 4.8rem;
  background: #478bf9;
  padding: 2rem 7.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.2rem;
  text-transform: uppercase;
}

.mainBlog {
  width: 531px;
}

.mainBlog h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

.blogWrapper {
  height: 59.5rem;
  border-radius: 100px;
  border: 3px solid #478bf9;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  padding: 2.4rem 2rem 0 2.4rem;
  overflow-y: scroll;
}

.blogWrapper::-webkit-scrollbar {
  display: block;
  width: 20px;
  border-radius: 10px;
}
.blogWrapper::-webkit-scrollbar-track {
  background: transparent;
}

.blogWrapper::-webkit-scrollbar-thumb {
  border-left: 8px solid #478bf9;
}

.blogWrapper::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 100px;
}

.blogWrapper::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 100px;
}

.post {
  padding: 1.6rem 6.4rem;
  border-radius: 196px;
  background: #1e1231;
  margin-bottom: 1.6rem;
}

.message {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin-bottom: 1.4rem;
}

.postDate {
  font-family: FuturaPT-Light;
  font-size: 14px;
  font-weight: 450;
  line-height: 16px;
}
